<p-table [value]="leaderboard" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Nut count</th>
            <th>Average nut score</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr [pSelectableRow]="user" (click)="goToUser(user.id)">
            <td>
                <app-avatar [avatarUrl]="user.avatar" [size]="20"></app-avatar>
            </td>
            <td>{{ user.username }}</td>
            <td>{{ user.count }}</td>
            <td>{{ user.score.toFixed(2) }}</td>
        </tr>
    </ng-template>
</p-table>
