include ../slider-script.pug

mixin latest-nuts
    .latest-nut-container.slider
        .slider-inner
            each user in latestNutters
                a(href="/user/"+user.username).rounded-pill.bg-light.latest-pill.slide
                    img(src=user.avatar)
                    span.username #{user.username}
            +slider-script