mixin latest-nuts
    .latest-nut-container
        each nut in latestNuts
            span.rounded-pill.bg-light.latest-pill
                img(src=nut.user.avatar)
                span.username #{nut.user.username}
        