mixin nav
    nav
        .container
            .left-nav
                a(href="/") NuTracker
            .right-nav
                if loggedInUser
                    span.nav-userinfo.d-none.d-sm-inline You're logged in as 
                        a(href="/user/"+loggedInUser) #{loggedInUser}
                else
                    span.nav-userinfo
                        a(href="/login").button Login
                +hamburger
                #nut-options
                    a(href="/custom-nut").nav-link Custom nut
                    a(href="/settings").nav-link Settings
                    a(href="/user/"+loggedInUser+"/nut").nav-link.button Quick nut
                script.
                    $(document).ready(() => {
                        $('.hamburger').on('click', e => {
                            $('#nut-options').toggleClass('opened');
                        });

                        $('.main-container').on('click', e => {
                            $('#nut-options').removeClass('opened');
                            $('.hamburger').removeClass('opened').attr('aria-expanded', false);
                        });
                    });
    #notification-container
        if notifications
            each notification in notifications
                .toast(role="alert", aria-live="assertive" aria-atomic="true" data-delay="2000") 
                    .toast-body #{notification}
                script.
                    $('.toast').toast('show');