mixin weekly-chart(faps)
    #weekly-chart
    script.
            /* Add a basic data series with six labels and values */
            var faps = !{JSON.stringify(faps)};

            var data = {
                labels: ['6 days ago', '5 days ago', '4 days ago', '3 days ago', '2 days ago', '1 day ago', 'last 24h'],
                series: [{
                    data: [0, 0, 0, 0, 0, 0, 0]
                }]
            };

            var options = {
                axisY: {
                    onlyInteger: true
                }
            }

            faps.forEach(fap => {
                var daysPast = Math.floor((new Date().getTime() - fap.date) / (1000 * 3600 * 24));
                
                data.series[0].data[(data.series[0].data.length-1)-daysPast]++;
            });

            new Chartist.Line('#weekly-chart', data, options);
