$app-navigation-color: #222;
$app-background-color: #111;
$app-main-container-color: #333;
$app-text-color: #eeeeee;
$app-primary-color: rgb(173, 165, 229);
$app-secondary-color: rgb(229, 149, 154);
$passwordMeterBg: #555 !default;
$passwordWeakBg: #ea5455 !default;
$passwordMediumBg: #ff9f42 !default;
$passwordStrongBg: #29c76f !default;
