@import url("https://fonts.googleapis.com/css?family=Poppins");

@import 'primeng/resources/themes/lara-dark-purple/theme.css';
@import 'primeng/resources/primeng.min.css';
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

@import "variables";
@import "forms";

body,
html {
    margin: 0;
    padding: 0;
    background-color: $app-background-color;
    color: $app-text-color;
    font-family: var(--font-family);

    app-root {
        min-height: 100vh;
    }
}

i.pi {
    font-size: 0.8rem;
}
