a {
    color: black;
    text-decoration: none;
    &:hover {
        color: black;
    }
}

body {
    background: linear-gradient(45deg,$white 0%, $secondary-color);
    background-size: cover;
}

.main-container {
    padding-top: 4rem;
}

.table-container {
    border: 1px solid $secondary-color;
    border-radius: 0.4rem;
    margin-top: 2rem;
    overflow: hidden;

    .unbordered-table {
        margin-bottom: 0;

        th, td {
            border: 0px !important;
            padding: 0.5rem 2rem;
        }
        thead {
            background-color: $secondary-color;
        }
        tbody {
            tr:nth-of-type(odd) {
                background-color: #F8BAC5;
            }
            tr:nth-of-type(even) {
                background-color: $secondary-color;
            }
        }
    }
}

.mobile-users-container {
    flex-wrap: wrap;
    .card {
        width: 10rem;
        background-color: #F8BAC5;
        margin: 0.2rem;
        border: 1px solid $primary-color;
        p {
            margin-bottom: 0;
        }
        
        .card-img-top {
            background: $white;
            overflow: hidden;
            width: calc(10rem - 2px);
            height: 10rem;
            img {
                width: 100%;
            }
        }
    }   
}