include ./modules/nav.pug
include ./modules/button.pug
include ./modules/head-imports.pug
include ./modules/weekly-chart.pug
include ./modules/avatar.pug
include ./modules/hamburger.pug
include ./modules/global-scripts.pug