include ./_mixins.pug

head
    +head-imports
    title Add a custom nut!
    
body
    +nav
    .main-container
        .container
            h1 Custom Nutty
            span Just tell us when, we'll add it!

            form(action="/custom-nut", method="POST").custom-nut-form
                .mb-3
                    label(for="date").form-label Date
                    input(type="datetime-local", name="date", required=true)#date
                    span.add-on
                        i(data-time-icon="icon-time", data-date-icon="icon-calendar") 
                .mb-3 
                    label(for="observations") Observations 
                    span.info-tooltip(data-toggle="tooltip", data-placement="right", title="There is no way of seing this currently, but it will be implemented soon.") ?
                    textarea(rows=3, placeholder="A short description of your nut or any other thing you might want to remember... Leave empty if nothing.", name="observations").form-control#observations
                .mb-3
                    label(for="number").form-label Score
                    input(type="number", name="score", max=10, min=0, required=true).form-control#score
                .mb-3
                    input(type="submit" value="Submit").button
