include ./_mixins.pug

head
    +head-imports
    title Not yet!
    
body
    +nav
    .main-container
        .container
            h1 Custom Nutty
            span Just tell us when, we'll add it!

            form(action="/custom-nut", method="POST").custom-nut-form
                .mb-3
                    label(for="date").form-label Date
                    input(type="datetime-local", name="date", required=true)#date
                    span.add-on
                        i(data-time-icon="icon-time", data-date-icon="icon-calendar") 
                .mb-3 
                    label(for="observations") Observations
                    span.info-tooltip(data-toggle="tooltip", data-placement="right", title="There is no way of seing this currently, but it will be implemented soon")  ?
                    textarea(rows=3, placeholder="Leave empty if none", name="observations").form-control#observations
                .mb-3
                    input(type="submit" value="Submit").button
