include ./_mixins.pug

head
    +head-imports
    title Privacy
    
body
    +nav
    .main-container
        .container
            p We collect some information from you to be able to provide insight into your nuts. Here is our policy:
                ul
                    li.
                        We collect ALL of the data you give us, we save it in the database, 
                        and it NEVER under ANY circumstances (except strictly legal) leaves that database. We 
                        will NOT disclose information to advertisers (not like we have any anyway), and we will 
                        only disclose information to authorities if strictly required by law'
                    li.
                        We may set cookies in your browser in order to keep your session open. When you log in, 
                        a cookie containing a session ID is saved in your browser, this cookie does not hold any login 
                        information. it simply tells our servers that you're authenticated, so when you want to tell us you nutted,
                        we can tell it's you, and we can check if it's you telling us or if you're authorised to tell us the person
                        on who's behalf of you're nutting, has nutted.
