include ./_mixins.pug

head
    +head-imports
    title=user
    
body
    +nav
    .main-container
        .container
            .row
                .col-sm
                    h1.user-title=user+'\'s fap history'
                    .general-fap-info
                        .grand-total #{user} has fapped a grand total of #{faps.length} times.

                    .chart-container
                        h4 Weekly chart
                        +weekly-chart(faps)