<div class="navbar">
    <!-- TOP NAVIGATION BAR -->
    <div class="top-navigation">
        <div class="top-nav-inner">
            <div class="left">
                <a routerLink="/">
                    <h1 class="site-title">NuTracker</h1>
                </a>
            </div>
            <div class="right">
                <a *ngIf="loggedIn" routerLink="/user-settings">
                    User settings
                    <i class="pi pi-cog"></i>
                </a>
                <a *ngIf="loggedIn" routerLink="/" (click)="logOut()">
                    Log out
                    <i class="pi pi-sign-out"></i>
                </a>
                <a *ngIf="!loggedIn" routerLink="/login">
                    Login
                    <i class="pi pi-arrow-circle-right"></i>
                </a>
                <a *ngIf="!loggedIn" routerLink="/register">
                    Register
                    <i class="pi pi-pencil"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- LEFT NAVIGATION BAR -->
    <div class="left-navigation">
        <div class="left-nav-inner">
            <div class="nav-section">
                <a
                    (click)="onShowNewNutDialog($event)"
                    pTooltip="Create a new Nut"
                    class="hero-link"
                >
                    <i class="pi pi-pencil"></i>
                </a>
            </div>
            <div class="nav-section">
                <a
                    routerLink="/global-stats"
                    pTooltip="Global stats"
                    routerLinkActive="active"
                >
                    <i class="pi pi-globe"></i>
                </a>

                <a
                    routerLink="/user-stats"
                    pTooltip="User stats"
                    routerLinkActive="active"
                >
                    <i class="pi pi-user"></i>
                </a>

                <a
                    routerLink="/friend-stats"
                    pTooltip="Friend stats"
                    routerLinkActive="active"
                >
                    <i class="pi pi-users"></i>
                </a>
            </div>

            <div class="nav-section">
                <a
                    routerLink="/find-users"
                    pTooltip="Find users"
                    routerLinkActive="active"
                >
                    <i class="pi pi-search"></i>
                </a>
            </div>
        </div>
    </div>
    <p-dialog
        [(visible)]="newNutDialogShown"
        header="New nut"
        [maximizable]="true"
    >
        <app-new-nut (formSubmitted)="onCloseNewNutDialog()"></app-new-nut>
    </p-dialog>
</div>
