<div class="navbar">
    <div class="top-navigation">
        <div class="top-nav-inner">
            <div class="left">
                <h1 class="site-title">NuTracker</h1>
            </div>
            <div class="right">
                <a *ngIf="loggedIn" routerLink="/login" class="">
                    Global stats
                    <i class="bi bi-graph-up"></i>
                </a>
                <a *ngIf="loggedIn" routerLink="/login" class="">
                    Timeline
                    <i class="bi bi-card-text"></i>
                </a>
                <a *ngIf="!loggedIn" routerLink="/login" class="">
                    Login
                    <i class="pi pi-arrow-circle-right"></i>
                </a>
                <a *ngIf="!loggedIn" routerLink="/register" class="">
                    Register
                    <i class="pi pi-pencil"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="left-navigation"></div>
</div>
