.avatar-container {
    width: 100%;
    overflow: hidden;
    border: 2px solid $primary-color;
    border-radius: 8rem;
    max-width: 15rem;
    margin: auto;

    @include media-breakpoint-down(md) {
        margin: auto;
        margin-bottom: 2rem;
    }

    .avatar {
        background-color: $secondary-color;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.leaderboard-avatar {
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 3rem;
    overflow: hidden;
    img {
        width: 100%;
    }
}
