.chart-container {
    border: solid 1px rgba(gray, 0.3);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;

    @include media-breakpoint-down(md) {
        display: none;
    }

    #weekly-chart {
        margin-top: 1rem;
    }
}

.ct-chart-line {
    .ct-line {
        stroke: $primary-color;
    }
    .ct-point {
        stroke: $primary-color;

        &:hover {
            stroke-width: 15px;
        }
    }
}
