.slider {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    height: 3rem;

    .slider-inner {
        position: absolute;
        display: block;
        transition: all 5s linear;
    }
}
