<form
    (ngSubmit)="onRegister()"
    class="flex flex-column max-w-30rem mt-4 m-auto"
>
    <h2>Register on NuTracker</h2>

    <div class="p-inputgroup max-w-30rem">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input
            pInputText
            type="text"
            [(ngModel)]="registerRequest.username"
            name="username"
            placeholder="Username"
            [required]="true"
        />
    </div>

    <div class="p-inputgroup max-w-30rem mt-2">
        <span class="p-inputgroup-addon">
            <i class="pi pi-envelope"></i>
        </span>
        <input
            pInputText
            type="email"
            [(ngModel)]="registerRequest.email"
            name="email"
            placeholder="Email"
            [required]="false"
        />
    </div>

    <div class="p-inputgroup max-w-30rem mt-2">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input
            pPassword
            type="password"
            [(ngModel)]="registerRequest.password"
            name="password"
            placeholder="Password"
            [required]="true"
        />
    </div>

    <p-button label="Submit" class="mt-4 mb-6" type="submit"></p-button>
</form>
